.weatherContainerItem {
  /* width: 80%; */
  padding-left: 20%;
  padding-right: 20%;
  margin: 0 auto;
  background-color: rgba(24, 24, 24) !important;
}

@media screen and (max-width: 800px) {
  .weatherContainerItem {
  }
}
